<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <gfs>
                <active>1</active>
                <model>JustShout\Gfs\Model\Carrier\Gfs</model>
                <title><![CDATA[GFS Delivery]]></title>
                <name><![CDATA[GFS Delivery]]></name>
                <sallowspecific>0</sallowspecific>
                <price>0</price>
                <specificerrmsg>This shipping method is not available. please contact us.</specificerrmsg>
                <type>I</type>
                <allowed_countries><![CDATA[AF,AX,AL,DZ,AS,AD,AO,AI,AQ,AG,AR,AM,AW,AU,AT,AZ,BS,BH,BD,BB,BY,BE,BZ,BJ,BM,BT,BO,BA,BW,BV,BR,IO,VG,BN,BG,BF,BI,KH,CM,CA,CV,KY,CF,TD,CL,CN,CX,CC,CO,KM,CG,CD,CK,CR,CI,HR,CU,CY,CZ,DK,DJ,DM,DO,EC,EG,SV,GQ,ER,EE,SZ,ET,FK,FO,FJ,FI,FR,GF,PF,TF,GA,GM,GE,DE,GH,GI,GR,GL,GD,GP,GU,GT,GG,GN,GW,GY,HT,HM,HN,HK,HU,IS,IN,ID,IR,IQ,IE,IM,IL,IT,JM,JP,JE,JO,KZ,KE,KI,KW,KG,LA,LV,LB,LS,LR,LY,LI,LT,LU,MO,MG,MW,MY,MV,ML,MT,MH,MQ,MR,MU,YT,MX,FM,MD,MC,MN,ME,MS,MA,MZ,MM,NA,NR,NP,NL,NC,NZ,NI,NE,NG,NU,NF,MP,KP,MK,NO,OM,PK,PW,PS,PA,PG,PY,PE,PH,PN,PL,PT,QA,RE,RO,RU,RW,WS,SM,ST,SA,SN,RS,SC,SL,SG,SK,SI,SB,SO,ZA,GS,KR,ES,LK,BL,SH,KN,LC,MF,PM,VC,SD,SR,SJ,SE,CH,SY,TW,TJ,TZ,TH,TL,TG,TK,TO,TT,TN,TR,TM,TC,TV,UG,UA,AE,GB,US,UY,UM,VI,UZ,VU,VA,VE,VN,WF,EH,YE,ZM,ZW]]></allowed_countries>
                <standard_delivery_title><![CDATA[Standard Delivery]]></standard_delivery_title>
                <calendar_delivery_title><![CDATA[Choose a delivery date and time]]></calendar_delivery_title>
                <drop_point_title><![CDATA[Collect your order]]></drop_point_title>
                <drop_point_list_button_name><![CDATA[Select]]></drop_point_list_button_name>
                <drop_point_list_button_name_unselected><![CDATA[Deselect]]></drop_point_list_button_name_unselected>
                <service_sort_order>cheapestFirst</service_sort_order>
                <date_range>14</date_range>
                <use_standard>1</use_standard>
                <use_droppoints>1</use_droppoints>
                <use_calendar>1</use_calendar>
                <use_stores>1</use_stores>
                <use_droppoints_stores>1</use_droppoints_stores>
                <request_standard>1</request_standard>
                <request_droppoints>1</request_droppoints>
                <request_calender>1</request_calender>
                <request_stores>1</request_stores>
                <enable_stores>1</enable_stores>
                <default_service>Standard</default_service>
                <default_carrier>YODEL</default_carrier>
                <default_carrier_code>ECO</default_carrier_code>
                <default_price>2.50</default_price>
                <default_min_delivery_time>1</default_min_delivery_time>
                <default_max_delivery_time>5</default_max_delivery_time>
                <color_primary><![CDATA[#B20000]]]></color_primary>
                <color_secondary><![CDATA[#FFFFFF]]]></color_secondary>
                <color_tertiary><![CDATA[#000000]]]></color_tertiary>
                <show_calendar_no_services>0</show_calendar_no_services>
                <calendar_no_services><![CDATA[There are no services available on this day]]></calendar_no_services>
                <calendar_day_prompt><![CDATA[Please select a delivery time:]]></calendar_day_prompt>
                <calendar_day_non_prompt><![CDATA[No delivery time to select:]]></calendar_day_non_prompt>
                <disable_prev_days>0</disable_prev_days>
                <disable_next_days>0</disable_next_days>
            </gfs>
        </carriers>
    </default>
</config>
